PORT=
MONGO_CONNECTION_STRING=

ACCESS_TOKEN_NAME=
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=

REFRESH_TOKEN_NAME=
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRES_IN=

AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

CLIENT_BASE_PATH=

DEFAULT_EMAIL=